/**Header class**/
.header {
  background-color: #F1D00A;
  padding: 35px 10px;
  text-align: center;
  font-weight: bold;
  top: 0;
  width: 100%;
  transition: 0.2s;
}

.header-link {
  color: #21325E;
  margin: 0 20px;
  font-size: 25px;
}

/**First-container class**/
.title-first-container {
  color: #F1D00A;
  font-size: 4.8em;
  margin: 50px auto 0 auto;
  line-height: 2;
}

.subtitle-first-container {
  color: #F1D00A;
  font-weight: normal;
  font-size: 2.2rem;
}

.pc {
  height: 450px;
  margin: 30px;
}

/**Second-container class**/
.me {
  border: 5px dotted white;
  border-radius: 200px;
  padding: 5px;
  height: 320px;
  margin: 3.5%;
}

.text-second-container {
  color: #F0F0F0;
  line-height: 1.4;
  font-size: 1.4rem;
}

/**Third-container class**/
.title-third-container {
  color: #F1D00A;
  font-weight: normal;
  font-size: 2.2rem;
}

.skill-row1 {
  width: 50%;
  margin: 25px auto 25px auto;
  text-align: left;
}

.skill-row2 {
  width: 50%;
  margin: 10px auto 25px auto;
  text-align: left;
}

.skill-img {
  width: 180px;
}

/**Fourth-container class**/
.title-fourth-container {
  color: #F1D00A;
  font-weight: normal;
  font-size: 2.2rem;
}

.text-fourth-container {
  color: #F0F0F0;
  line-height: 1.5;
  font-size: 1.4rem;
}

.button-contact {
  -webkit-border-radius: 57;
  -moz-border-radius: 57;
  border-radius: 57px;
  font-family: Courier New;
  color: #21325E;
  font-size: 23px;
  font-weight: bold;
  background: #F1D00A;
  padding: 10px 20px 10px 20px;
  border: dotted #857207 3px;
  text-decoration: none;
  margin: 25px auto 40px auto;
  width: 250px;
}

.button-contact:hover {
  background: #fff09c;
  text-decoration: none;
}

.copyright {
  color: #F0F0F0;
  font-size: 1rem;
}

/**table up**/
.up {
  position: absolute;
  right: 0;
}

.up-word {
  font-size: 60px;
  color: #F1D00A;
}

.arrow {
  width: 50px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #21325E;
  margin: 0;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
}

hr {
  border-style: none;
  border-top: dotted #F0F0F0 2px;
  border-width: 6px;
  width: 20%;
  margin-top: 8%;
  margin-bottom: 3%;
}

li {
  color: #F0F0F0;
  line-height: 1.8;
}

h3 {
  color: #F1D00A;
}

/*ipad*/
@media screen and (max-device-width: 810px) and (min-device-width: 429px) {
  .title-first-container {
    font-size: 5rem;
    margin: 12% auto 0 auto;
    line-height: 2.5;
  }

  .subtitle-first-container {
    font-size: 2.5rem;
  }

  .pc {
    height: 550px;
    margin-top: 15%;
  }

  .me {
    height: 400px;
    margin: 6%;
  }

  .text-second-container {
    font-size: 1.8rem;
    line-height: 1;
    padding: 2%;
  }

  .skill-row1 {
    width: auto;
    text-align: left;
    padding-left: 20%;
  }

  .skill-row2 {
    width: auto;
    text-align: left;
    padding-left: 20%;
  }

  .skill-img {
    height: 180px;
    width: 180px;
  }

  .title-third-container {
    margin: 0 auto;
    padding: 0 auto;
    font-size: 3rem;
  }

  .title-fourth-container {
    font-size: 3rem;
  }

  .text-fourth-container {
    font-size: 1.8rem;
  }

  .button-contact {
    padding: 6px 20px 6px 20px;
    margin: 45px auto 90px auto;
    font-size: 3rem;
    width: 30rem;
  }

h3{
  font-size: 2.2rem;
}
  li {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  hr {
    margin-top: 13%;
    margin-bottom: 8%;
  }
}

/**mobile**/
@media screen and (max-device-width: 428px) and (min-width: 377px) {
  .header-link {
    font-size: 2.5rem;
  }

  .title-first-container {
    margin-top: 20%;
    font-size: 6.5rem;
    padding: 5% 5%;
  }

  .subtitle-first-container {
    font-size: 2.5rem;
    line-height: 1.5;
    margin: 10% 3%;
  }

  .pc {
    height: 700px;
    margin: 13% auto;
  }

  .me {
    height: 600px;
      border-radius: 300px;
    margin: 6% auto;
  }

  .text-second-container {
    font-size: 2.5rem;
    line-height: 1.6;
    padding: 1%;
  }

  .title-third-container{
    font-size: 4.5rem;
  }

  .skill-img {
    width: 250px;
    height: 250px;
  }

  .skill-row1{
    margin: 10% auto;
  }
  .skill-row2{
    margin: 15% auto;
  }

  .title-fourth-container{
    font-size: 4.5rem;
    line-height: 2;
  }

  .text-fourth-container {
    font-size: 2.5rem;
    padding: 5%;
  }

  .copyright {
    font-size: 0.9rem;
  }

  .last-up-table {
    padding-top: 1%;
  }

  .last-hr {
    margin-top: 70%;
    margin-bottom: 2%;
    margin-left: 40%;
  }

  .button-contact {
    padding: 10px 20px 10px 20px;
    margin: 15px auto 30px auto;
    font-size: 3rem;
    width: 30rem;
  }

  .copyright {
    font-size: 1.2rem;

  }

  .up{
    margin-top: 12%;
  }

  .up-word {
    font-size: 5rem;
    color: #F1D00A;
  }

  .arrow {
    width: 4rem;
  }

  h3{
    font-size: 2.4rem;
  }

  hr {
    margin-top: 30%;
    margin-bottom: 15%;
  }

  li {
    font-size: 2rem;
    line-height: 1.4;
  }
}

@media screen and (max-device-width: 376px) {

  .header-link {
    font-size: 2.5rem;
  }

  .title-first-container {
    margin-top: 20%;
    font-size: 5rem;
    padding: 5% 5%;
  }

  .subtitle-first-container {
    font-size: 2.5rem;
    line-height: 1;
    margin: 10% 3%;
  }

  .pc {
    height: 700px;
    margin: 4% auto;
  }

  .me {
    height: 500px;
    margin: 10% auto;
  }

  .text-second-container {
    font-size: 2rem;
    line-height: 1.4;
    padding: 1%;
  }

  .title-third-container{
    font-size: 4rem;
  }

  .skill-img {
    width: 250px;
    height: 250px;
  }

  .skill-row1{
    margin: 8% auto;
  }
  .skill-row2{
    margin: 15% auto;
  }

  .title-fourth-container{
    font-size: 4rem;
    line-height: 2;
  }

  .text-fourth-container {
    font-size: 2rem;
    padding: 5%;
  }

  .copyright {
    font-size: 0.9rem;
  }

  .last-up-table {
    padding-top: 1%;
  }

  .last-hr {
    margin-top: 70%;
    margin-bottom: 15%;
    margin-left: 40%;
  }

  .button-contact {
    padding: 10px 20px 10px 20px;
    margin: 5px auto 25px auto;
    font-size: 2.6rem;
    width: 30rem;
  }

  .copyright {
    font-size: 1.2rem;
    margin-top: 20%;
  }

  .up{
    margin-top: 5%;
  }

  .up-word {
    font-size: 4rem;
    color: #F1D00A;
  }

  .arrow {
    width: 3rem;
  }

  h3{
    font-size: 2.2rem;
  }

  hr {
    margin-top: 15%;
    margin-bottom: 10%;
  }

  li {
    font-size: 1.6rem;
    line-height: 1.4;
  }
}
